{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_sic/detalles


    Example context (json):{

    }
}}

{{< block_sic/layout}}
    {{$ content}}
        {{#section}}
            <div class="card">
                <div class="card-header">
                    <h2>Asignando Seccion ID {{id}}</h2>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>ID</dt>
                        <dd>{{id}}</dd>
                        <dt>Nombre</dt>
                        <dd>{{name}}</dd>
                        <dt>URL</dt>
                        <dd>{{reassing_sectionurl}}</dd>
                    </dl>
                    <form class="vstack gap-3" action="{{reassign_sectionurl}}" method="post">
                        <input type="hidden" name="sectionid" value="{{id}}">
                        <div class="input-group">
                            <label for="moduleid" class="input-group-text">Modulo</label>
                            <select name="moduleid" class="custom-select">
                                <option value="0" selected>Ningun modulo</option>
                                {{#module_list}}
                                    <option value="{{id}}">{{code}} (ID {{id}})</option>
                                {{/module_list}}
                            </select>
                        </div>
                        <div class="hstack hstack-sm gap-3">
                            <input type="submit" class="btn btn-outline-success" value="Guardar">
                            <a href="{{courseurl}}" class="btn btn-outline-danger">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        {{/section}}
    {{/ content}}
{{/ block_sic/layout}}