<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/lib/phpunit/tests" />
        <option value="$PROJECT_DIR$/lib/testing/tests" />
        <option value="$PROJECT_DIR$/lib/ddl/tests" />
        <option value="$PROJECT_DIR$/lib/dml/tests" />
        <option value="$PROJECT_DIR$/lib/tests" />
        <option value="$PROJECT_DIR$/favourites/tests" />
        <option value="$PROJECT_DIR$/lib/form/tests" />
        <option value="$PROJECT_DIR$/lib/filestorage/tests" />
        <option value="$PROJECT_DIR$/lib/filebrowser/tests" />
        <option value="$PROJECT_DIR$/files/tests" />
        <option value="$PROJECT_DIR$/filter/tests" />
        <option value="$PROJECT_DIR$/admin/roles/tests" />
        <option value="$PROJECT_DIR$/cohort/tests" />
        <option value="$PROJECT_DIR$/lib/grade/tests" />
        <option value="$PROJECT_DIR$/grade/tests" />
        <option value="$PROJECT_DIR$/grade/grading/tests" />
        <option value="$PROJECT_DIR$/grade/import/csv/tests" />
        <option value="$PROJECT_DIR$/analytics/tests" />
        <option value="$PROJECT_DIR$/availability/tests" />
        <option value="$PROJECT_DIR$/backup/controller/tests" />
        <option value="$PROJECT_DIR$/backup/converter/moodle1/tests" />
        <option value="$PROJECT_DIR$/backup/moodle2/tests" />
        <option value="$PROJECT_DIR$/backup/tests" />
        <option value="$PROJECT_DIR$/backup/util" />
        <option value="$PROJECT_DIR$/badges/tests" />
        <option value="$PROJECT_DIR$/blog/tests" />
        <option value="$PROJECT_DIR$/customfield/tests" />
        <option value="$PROJECT_DIR$/iplookup/tests" />
        <option value="$PROJECT_DIR$/course/tests" />
        <option value="$PROJECT_DIR$/privacy/tests" />
        <option value="$PROJECT_DIR$/question/engine/tests" />
        <option value="$PROJECT_DIR$/question/tests" />
        <option value="$PROJECT_DIR$/question/type/tests" />
        <option value="$PROJECT_DIR$/question/engine/upgrade/tests" />
        <option value="$PROJECT_DIR$/cache/tests" />
        <option value="$PROJECT_DIR$/calendar/tests" />
        <option value="$PROJECT_DIR$/enrol/tests" />
        <option value="$PROJECT_DIR$/group/tests" />
        <option value="$PROJECT_DIR$/lib/external/tests" />
        <option value="$PROJECT_DIR$/message/tests" />
        <option value="$PROJECT_DIR$/notes/tests" />
        <option value="$PROJECT_DIR$/tag/tests" />
        <option value="$PROJECT_DIR$/rating/tests" />
        <option value="$PROJECT_DIR$/repository/tests" />
        <option value="$PROJECT_DIR$/lib/userkey/tests" />
        <option value="$PROJECT_DIR$/user/tests" />
        <option value="$PROJECT_DIR$/webservice/tests" />
        <option value="$PROJECT_DIR$/mnet/tests" />
        <option value="$PROJECT_DIR$/completion/tests" />
        <option value="$PROJECT_DIR$/comment/tests" />
        <option value="$PROJECT_DIR$/search/tests" />
        <option value="$PROJECT_DIR$/competency/tests" />
        <option value="$PROJECT_DIR$/my/tests" />
        <option value="$PROJECT_DIR$/auth/tests" />
        <option value="$PROJECT_DIR$/blocks/tests" />
        <option value="$PROJECT_DIR$/login/tests" />
        <option value="$PROJECT_DIR$/plagiarism/tests" />
        <option value="$PROJECT_DIR$/portfolio/tests" />
        <option value="$PROJECT_DIR$/lib/editor/tests" />
        <option value="$PROJECT_DIR$/rss/tests" />
        <option value="$PROJECT_DIR$/lib/table/tests" />
        <option value="$PROJECT_DIR$/h5p/tests" />
        <option value="$PROJECT_DIR$/lib/xapi/tests" />
        <option value="$PROJECT_DIR$/contentbank/tests" />
        <option value="$PROJECT_DIR$/payment/tests" />
        <option value="$PROJECT_DIR$/lib/antivirus/clamav/tests" />
        <option value="$PROJECT_DIR$/mod/assign/feedback/comments/tests" />
        <option value="$PROJECT_DIR$/mod/assign/feedback/editpdf/tests" />
        <option value="$PROJECT_DIR$/mod/assign/feedback/file/tests" />
        <option value="$PROJECT_DIR$/mod/assign/submission/comments/tests" />
        <option value="$PROJECT_DIR$/mod/assign/submission/file/tests" />
        <option value="$PROJECT_DIR$/mod/assign/submission/onlinetext/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/accessibilitychecker/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/accessibilityhelper/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/align/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/bold/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/charmap/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/clear/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/collapse/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/equation/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/h5p/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/html/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/image/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/indent/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/italic/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/link/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/media/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/orderedlist/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/strike/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/subscript/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/superscript/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/table/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/title/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/underline/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/plugins/unorderedlist/tests" />
        <option value="$PROJECT_DIR$/auth/db/tests" />
        <option value="$PROJECT_DIR$/auth/email/tests" />
        <option value="$PROJECT_DIR$/auth/ldap/tests" />
        <option value="$PROJECT_DIR$/auth/manual/tests" />
        <option value="$PROJECT_DIR$/auth/mnet/tests" />
        <option value="$PROJECT_DIR$/auth/oauth2/tests" />
        <option value="$PROJECT_DIR$/availability/condition/completion/tests" />
        <option value="$PROJECT_DIR$/availability/condition/date/tests" />
        <option value="$PROJECT_DIR$/availability/condition/grade/tests" />
        <option value="$PROJECT_DIR$/availability/condition/group/tests" />
        <option value="$PROJECT_DIR$/availability/condition/grouping/tests" />
        <option value="$PROJECT_DIR$/availability/condition/profile/tests" />
        <option value="$PROJECT_DIR$/blocks/accessreview/tests" />
        <option value="$PROJECT_DIR$/blocks/activity_modules/tests" />
        <option value="$PROJECT_DIR$/blocks/activity_results/tests" />
        <option value="$PROJECT_DIR$/blocks/admin_bookmarks/tests" />
        <option value="$PROJECT_DIR$/blocks/badges/tests" />
        <option value="$PROJECT_DIR$/blocks/blog_menu/tests" />
        <option value="$PROJECT_DIR$/blocks/blog_recent/tests" />
        <option value="$PROJECT_DIR$/blocks/blog_tags/tests" />
        <option value="$PROJECT_DIR$/blocks/calendar_month/tests" />
        <option value="$PROJECT_DIR$/blocks/calendar_upcoming/tests" />
        <option value="$PROJECT_DIR$/blocks/comments/tests" />
        <option value="$PROJECT_DIR$/blocks/completionstatus/tests" />
        <option value="$PROJECT_DIR$/blocks/course_list/tests" />
        <option value="$PROJECT_DIR$/blocks/course_summary/tests" />
        <option value="$PROJECT_DIR$/blocks/glossary_random/tests" />
        <option value="$PROJECT_DIR$/blocks/html/tests" />
        <option value="$PROJECT_DIR$/blocks/login/tests" />
        <option value="$PROJECT_DIR$/blocks/mentees/tests" />
        <option value="$PROJECT_DIR$/blocks/myoverview/tests" />
        <option value="$PROJECT_DIR$/blocks/myprofile/tests" />
        <option value="$PROJECT_DIR$/blocks/navigation/tests" />
        <option value="$PROJECT_DIR$/blocks/news_items/tests" />
        <option value="$PROJECT_DIR$/blocks/online_users/tests" />
        <option value="$PROJECT_DIR$/blocks/private_files/tests" />
        <option value="$PROJECT_DIR$/blocks/recent_activity/tests" />
        <option value="$PROJECT_DIR$/blocks/recentlyaccessedcourses/tests" />
        <option value="$PROJECT_DIR$/blocks/recentlyaccesseditems/tests" />
        <option value="$PROJECT_DIR$/blocks/rss_client/tests" />
        <option value="$PROJECT_DIR$/blocks/search_forums/tests" />
        <option value="$PROJECT_DIR$/blocks/section_links/tests" />
        <option value="$PROJECT_DIR$/blocks/site_main_menu/tests" />
        <option value="$PROJECT_DIR$/blocks/social_activities/tests" />
        <option value="$PROJECT_DIR$/blocks/tag_flickr/tests" />
        <option value="$PROJECT_DIR$/blocks/tag_youtube/tests" />
        <option value="$PROJECT_DIR$/blocks/tags/tests" />
        <option value="$PROJECT_DIR$/blocks/timeline/tests" />
        <option value="$PROJECT_DIR$/mod/book/tool/exportimscp/tests" />
        <option value="$PROJECT_DIR$/mod/book/tool/importhtml/tests" />
        <option value="$PROJECT_DIR$/mod/book/tool/print/tests" />
        <option value="$PROJECT_DIR$/cache/stores/apcu/tests" />
        <option value="$PROJECT_DIR$/cache/stores/file/tests" />
        <option value="$PROJECT_DIR$/cache/stores/memcached/tests" />
        <option value="$PROJECT_DIR$/cache/stores/mongodb/tests" />
        <option value="$PROJECT_DIR$/cache/stores/redis/tests" />
        <option value="$PROJECT_DIR$/cache/stores/session/tests" />
        <option value="$PROJECT_DIR$/cache/stores/static/tests" />
        <option value="$PROJECT_DIR$/contentbank/contenttype/h5p/tests" />
        <option value="$PROJECT_DIR$/customfield/field/checkbox/tests" />
        <option value="$PROJECT_DIR$/customfield/field/date/tests" />
        <option value="$PROJECT_DIR$/customfield/field/select/tests" />
        <option value="$PROJECT_DIR$/customfield/field/text/tests" />
        <option value="$PROJECT_DIR$/customfield/field/textarea/tests" />
        <option value="$PROJECT_DIR$/dataformat/pdf/tests" />
        <option value="$PROJECT_DIR$/lib/editor/atto/tests" />
        <option value="$PROJECT_DIR$/lib/editor/textarea/tests" />
        <option value="$PROJECT_DIR$/lib/editor/tinymce/tests" />
        <option value="$PROJECT_DIR$/enrol/category/tests" />
        <option value="$PROJECT_DIR$/enrol/cohort/tests" />
        <option value="$PROJECT_DIR$/enrol/database/tests" />
        <option value="$PROJECT_DIR$/enrol/fee/tests" />
        <option value="$PROJECT_DIR$/enrol/flatfile/tests" />
        <option value="$PROJECT_DIR$/enrol/guest/tests" />
        <option value="$PROJECT_DIR$/enrol/imsenterprise/tests" />
        <option value="$PROJECT_DIR$/enrol/ldap/tests" />
        <option value="$PROJECT_DIR$/enrol/lti/tests" />
        <option value="$PROJECT_DIR$/enrol/manual/tests" />
        <option value="$PROJECT_DIR$/enrol/meta/tests" />
        <option value="$PROJECT_DIR$/enrol/paypal/tests" />
        <option value="$PROJECT_DIR$/enrol/self/tests" />
        <option value="$PROJECT_DIR$/files/converter/googledrive/tests" />
        <option value="$PROJECT_DIR$/files/converter/unoconv/tests" />
        <option value="$PROJECT_DIR$/filter/activitynames/tests" />
        <option value="$PROJECT_DIR$/filter/algebra/tests" />
        <option value="$PROJECT_DIR$/filter/data/tests" />
        <option value="$PROJECT_DIR$/filter/displayh5p/tests" />
        <option value="$PROJECT_DIR$/filter/emoticon/tests" />
        <option value="$PROJECT_DIR$/filter/glossary/tests" />
        <option value="$PROJECT_DIR$/filter/mathjaxloader/tests" />
        <option value="$PROJECT_DIR$/filter/mediaplugin/tests" />
        <option value="$PROJECT_DIR$/filter/multilang/tests" />
        <option value="$PROJECT_DIR$/filter/tex/tests" />
        <option value="$PROJECT_DIR$/filter/urltolink/tests" />
        <option value="$PROJECT_DIR$/course/format/singleactivity/tests" />
        <option value="$PROJECT_DIR$/course/format/social/tests" />
        <option value="$PROJECT_DIR$/course/format/topics/tests" />
        <option value="$PROJECT_DIR$/course/format/weeks/tests" />
        <option value="$PROJECT_DIR$/mod/forum/report/summary/tests" />
        <option value="$PROJECT_DIR$/grade/export/ods/tests" />
        <option value="$PROJECT_DIR$/grade/export/txt/tests" />
        <option value="$PROJECT_DIR$/grade/export/xls/tests" />
        <option value="$PROJECT_DIR$/grade/export/xml/tests" />
        <option value="$PROJECT_DIR$/grade/report/grader/tests" />
        <option value="$PROJECT_DIR$/grade/report/history/tests" />
        <option value="$PROJECT_DIR$/grade/report/overview/tests" />
        <option value="$PROJECT_DIR$/grade/report/singleview/tests" />
        <option value="$PROJECT_DIR$/grade/report/user/tests" />
        <option value="$PROJECT_DIR$/grade/grading/form/guide/tests" />
        <option value="$PROJECT_DIR$/grade/grading/form/rubric/tests" />
        <option value="$PROJECT_DIR$/admin/tool/log/store/database/tests" />
        <option value="$PROJECT_DIR$/admin/tool/log/store/legacy/tests" />
        <option value="$PROJECT_DIR$/admin/tool/log/store/standard/tests" />
        <option value="$PROJECT_DIR$/mod/lti/service/gradebookservices/tests" />
        <option value="$PROJECT_DIR$/mod/lti/service/memberships/tests" />
        <option value="$PROJECT_DIR$/media/player/html5audio/tests" />
        <option value="$PROJECT_DIR$/media/player/html5video/tests" />
        <option value="$PROJECT_DIR$/media/player/swf/tests" />
        <option value="$PROJECT_DIR$/media/player/videojs/tests" />
        <option value="$PROJECT_DIR$/media/player/vimeo/tests" />
        <option value="$PROJECT_DIR$/media/player/youtube/tests" />
        <option value="$PROJECT_DIR$/message/output/airnotifier/tests" />
        <option value="$PROJECT_DIR$/message/output/email/tests" />
        <option value="$PROJECT_DIR$/message/output/jabber/tests" />
        <option value="$PROJECT_DIR$/message/output/popup/tests" />
        <option value="$PROJECT_DIR$/lib/mlbackend/python/tests" />
        <option value="$PROJECT_DIR$/mnet/service/enrol/tests" />
        <option value="$PROJECT_DIR$/mod/assign/tests" />
        <option value="$PROJECT_DIR$/mod/assignment/tests" />
        <option value="$PROJECT_DIR$/mod/book/tests" />
        <option value="$PROJECT_DIR$/mod/chat/tests" />
        <option value="$PROJECT_DIR$/mod/choice/tests" />
        <option value="$PROJECT_DIR$/mod/data/tests" />
        <option value="$PROJECT_DIR$/mod/feedback/tests" />
        <option value="$PROJECT_DIR$/mod/folder/tests" />
        <option value="$PROJECT_DIR$/mod/forum/tests" />
        <option value="$PROJECT_DIR$/mod/glossary/tests" />
        <option value="$PROJECT_DIR$/mod/h5pactivity/tests" />
        <option value="$PROJECT_DIR$/mod/imscp/tests" />
        <option value="$PROJECT_DIR$/mod/label/tests" />
        <option value="$PROJECT_DIR$/mod/lesson/tests" />
        <option value="$PROJECT_DIR$/mod/lti/tests" />
        <option value="$PROJECT_DIR$/mod/page/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/tests" />
        <option value="$PROJECT_DIR$/mod/resource/tests" />
        <option value="$PROJECT_DIR$/mod/scorm/tests" />
        <option value="$PROJECT_DIR$/mod/survey/tests" />
        <option value="$PROJECT_DIR$/mod/url/tests" />
        <option value="$PROJECT_DIR$/mod/wiki/tests" />
        <option value="$PROJECT_DIR$/mod/workshop/tests" />
        <option value="$PROJECT_DIR$/portfolio/boxnet/tests" />
        <option value="$PROJECT_DIR$/portfolio/flickr/tests" />
        <option value="$PROJECT_DIR$/portfolio/googledocs/tests" />
        <option value="$PROJECT_DIR$/portfolio/mahara/tests" />
        <option value="$PROJECT_DIR$/portfolio/picasa/tests" />
        <option value="$PROJECT_DIR$/user/profile/field/checkbox/tests" />
        <option value="$PROJECT_DIR$/user/profile/field/datetime/tests" />
        <option value="$PROJECT_DIR$/user/profile/field/menu/tests" />
        <option value="$PROJECT_DIR$/user/profile/field/social/tests" />
        <option value="$PROJECT_DIR$/user/profile/field/text/tests" />
        <option value="$PROJECT_DIR$/user/profile/field/textarea/tests" />
        <option value="$PROJECT_DIR$/question/behaviour/adaptive/tests" />
        <option value="$PROJECT_DIR$/question/behaviour/adaptivenopenalty/tests" />
        <option value="$PROJECT_DIR$/question/behaviour/deferredcbm/tests" />
        <option value="$PROJECT_DIR$/question/behaviour/deferredfeedback/tests" />
        <option value="$PROJECT_DIR$/question/behaviour/immediatecbm/tests" />
        <option value="$PROJECT_DIR$/question/behaviour/immediatefeedback/tests" />
        <option value="$PROJECT_DIR$/question/behaviour/informationitem/tests" />
        <option value="$PROJECT_DIR$/question/behaviour/interactive/tests" />
        <option value="$PROJECT_DIR$/question/behaviour/interactivecountback/tests" />
        <option value="$PROJECT_DIR$/question/behaviour/manualgraded/tests" />
        <option value="$PROJECT_DIR$/question/behaviour/missing/tests" />
        <option value="$PROJECT_DIR$/question/format/aiken/tests" />
        <option value="$PROJECT_DIR$/question/format/blackboard_six/tests" />
        <option value="$PROJECT_DIR$/question/format/examview/tests" />
        <option value="$PROJECT_DIR$/question/format/gift/tests" />
        <option value="$PROJECT_DIR$/question/format/missingword/tests" />
        <option value="$PROJECT_DIR$/question/format/multianswer/tests" />
        <option value="$PROJECT_DIR$/question/format/webct/tests" />
        <option value="$PROJECT_DIR$/question/format/xml/tests" />
        <option value="$PROJECT_DIR$/question/type/calculated/tests" />
        <option value="$PROJECT_DIR$/question/type/calculatedmulti/tests" />
        <option value="$PROJECT_DIR$/question/type/calculatedsimple/tests" />
        <option value="$PROJECT_DIR$/question/type/ddimageortext/tests" />
        <option value="$PROJECT_DIR$/question/type/ddmarker/tests" />
        <option value="$PROJECT_DIR$/question/type/ddwtos/tests" />
        <option value="$PROJECT_DIR$/question/type/description/tests" />
        <option value="$PROJECT_DIR$/question/type/essay/tests" />
        <option value="$PROJECT_DIR$/question/type/gapselect/tests" />
        <option value="$PROJECT_DIR$/question/type/match/tests" />
        <option value="$PROJECT_DIR$/question/type/missingtype/tests" />
        <option value="$PROJECT_DIR$/question/type/multianswer/tests" />
        <option value="$PROJECT_DIR$/question/type/multichoice/tests" />
        <option value="$PROJECT_DIR$/question/type/numerical/tests" />
        <option value="$PROJECT_DIR$/question/type/random/tests" />
        <option value="$PROJECT_DIR$/question/type/randomsamatch/tests" />
        <option value="$PROJECT_DIR$/question/type/shortanswer/tests" />
        <option value="$PROJECT_DIR$/question/type/truefalse/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/report/grading/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/report/overview/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/report/responses/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/report/statistics/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/accessrule/delaybetweenattempts/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/accessrule/ipaddress/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/accessrule/numattempts/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/accessrule/offlineattempts/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/accessrule/openclosedate/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/accessrule/password/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/accessrule/seb/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/accessrule/securewindow/tests" />
        <option value="$PROJECT_DIR$/mod/quiz/accessrule/timelimit/tests" />
        <option value="$PROJECT_DIR$/report/competency/tests" />
        <option value="$PROJECT_DIR$/report/completion/tests" />
        <option value="$PROJECT_DIR$/report/configlog/tests" />
        <option value="$PROJECT_DIR$/report/eventlist/tests" />
        <option value="$PROJECT_DIR$/report/insights/tests" />
        <option value="$PROJECT_DIR$/report/log/tests" />
        <option value="$PROJECT_DIR$/report/loglive/tests" />
        <option value="$PROJECT_DIR$/report/outline/tests" />
        <option value="$PROJECT_DIR$/report/participation/tests" />
        <option value="$PROJECT_DIR$/report/progress/tests" />
        <option value="$PROJECT_DIR$/report/questioninstances/tests" />
        <option value="$PROJECT_DIR$/report/stats/tests" />
        <option value="$PROJECT_DIR$/report/usersessions/tests" />
        <option value="$PROJECT_DIR$/repository/boxnet/tests" />
        <option value="$PROJECT_DIR$/repository/contentbank/tests" />
        <option value="$PROJECT_DIR$/repository/coursefiles/tests" />
        <option value="$PROJECT_DIR$/repository/dropbox/tests" />
        <option value="$PROJECT_DIR$/repository/equella/tests" />
        <option value="$PROJECT_DIR$/repository/filesystem/tests" />
        <option value="$PROJECT_DIR$/repository/flickr/tests" />
        <option value="$PROJECT_DIR$/repository/flickr_public/tests" />
        <option value="$PROJECT_DIR$/repository/googledocs/tests" />
        <option value="$PROJECT_DIR$/repository/local/tests" />
        <option value="$PROJECT_DIR$/repository/merlot/tests" />
        <option value="$PROJECT_DIR$/repository/nextcloud/tests" />
        <option value="$PROJECT_DIR$/repository/onedrive/tests" />
        <option value="$PROJECT_DIR$/repository/picasa/tests" />
        <option value="$PROJECT_DIR$/repository/recent/tests" />
        <option value="$PROJECT_DIR$/repository/s3/tests" />
        <option value="$PROJECT_DIR$/repository/upload/tests" />
        <option value="$PROJECT_DIR$/repository/url/tests" />
        <option value="$PROJECT_DIR$/repository/user/tests" />
        <option value="$PROJECT_DIR$/repository/webdav/tests" />
        <option value="$PROJECT_DIR$/repository/wikimedia/tests" />
        <option value="$PROJECT_DIR$/repository/youtube/tests" />
        <option value="$PROJECT_DIR$/mod/scorm/report/basic/tests" />
        <option value="$PROJECT_DIR$/mod/scorm/report/interactions/tests" />
        <option value="$PROJECT_DIR$/mod/scorm/report/objectives/tests" />
        <option value="$PROJECT_DIR$/search/engine/simpledb/tests" />
        <option value="$PROJECT_DIR$/search/engine/solr/tests" />
        <option value="$PROJECT_DIR$/theme/boost/tests" />
        <option value="$PROJECT_DIR$/theme/classic/tests" />
        <option value="$PROJECT_DIR$/admin/tool/analytics/tests" />
        <option value="$PROJECT_DIR$/admin/tool/availabilityconditions/tests" />
        <option value="$PROJECT_DIR$/admin/tool/behat/tests" />
        <option value="$PROJECT_DIR$/admin/tool/brickfield/tests" />
        <option value="$PROJECT_DIR$/admin/tool/capability/tests" />
        <option value="$PROJECT_DIR$/admin/tool/cohortroles/tests" />
        <option value="$PROJECT_DIR$/admin/tool/customlang/tests" />
        <option value="$PROJECT_DIR$/admin/tool/dataprivacy/tests" />
        <option value="$PROJECT_DIR$/admin/tool/filetypes/tests" />
        <option value="$PROJECT_DIR$/admin/tool/generator/tests" />
        <option value="$PROJECT_DIR$/admin/tool/health/tests" />
        <option value="$PROJECT_DIR$/admin/tool/httpsreplace/tests" />
        <option value="$PROJECT_DIR$/admin/tool/installaddon/tests" />
        <option value="$PROJECT_DIR$/admin/tool/langimport/tests" />
        <option value="$PROJECT_DIR$/admin/tool/licensemanager/tests" />
        <option value="$PROJECT_DIR$/admin/tool/log/tests" />
        <option value="$PROJECT_DIR$/admin/tool/lp/tests" />
        <option value="$PROJECT_DIR$/admin/tool/lpimportcsv/tests" />
        <option value="$PROJECT_DIR$/admin/tool/lpmigrate/tests" />
        <option value="$PROJECT_DIR$/admin/tool/messageinbound/tests" />
        <option value="$PROJECT_DIR$/admin/tool/mobile/tests" />
        <option value="$PROJECT_DIR$/admin/tool/monitor/tests" />
        <option value="$PROJECT_DIR$/admin/tool/moodlenet/tests" />
        <option value="$PROJECT_DIR$/admin/tool/oauth2/tests" />
        <option value="$PROJECT_DIR$/admin/tool/policy/tests" />
        <option value="$PROJECT_DIR$/admin/tool/recyclebin/tests" />
        <option value="$PROJECT_DIR$/admin/tool/task/tests" />
        <option value="$PROJECT_DIR$/admin/tool/templatelibrary/tests" />
        <option value="$PROJECT_DIR$/admin/tool/uploadcourse/tests" />
        <option value="$PROJECT_DIR$/admin/tool/uploaduser/tests" />
        <option value="$PROJECT_DIR$/admin/tool/usertours/tests" />
        <option value="$PROJECT_DIR$/admin/tool/xmldb/tests" />
        <option value="$PROJECT_DIR$/webservice/rest/tests" />
        <option value="$PROJECT_DIR$/webservice/soap/tests" />
        <option value="$PROJECT_DIR$/webservice/xmlrpc/tests" />
        <option value="$PROJECT_DIR$/mod/workshop/allocation/manual/tests" />
        <option value="$PROJECT_DIR$/mod/workshop/allocation/random/tests" />
        <option value="$PROJECT_DIR$/mod/workshop/allocation/scheduled/tests" />
        <option value="$PROJECT_DIR$/mod/workshop/eval/best/tests" />
        <option value="$PROJECT_DIR$/mod/workshop/form/accumulative/tests" />
        <option value="$PROJECT_DIR$/mod/workshop/form/comments/tests" />
        <option value="$PROJECT_DIR$/mod/workshop/form/numerrors/tests" />
        <option value="$PROJECT_DIR$/mod/workshop/form/rubric/tests" />
      </list>
    </option>
  </component>
</project>